head{
    background-color: black;
}
body{
    background-color: black;
}
#logo_dentro{
    width: 25px;
}
#menu{
    padding-left: 20px;
}
.menu_homepage{
    display: flex;
    align-items: center;

}
.menu{
    color: gray;
    background: black;
    cursor: pointer;
    border-left: 1px solid gray ;
    border-right: 1px solid gray;
}
.Topicos{
    cursor: pointer;
    color: gray;
    background: black;
    border-left: 1px solid gray ;
    border-right: 1px solid gray;
}
.imagem_perfil{
    width: 25px;
    border: 2px solid gray;
    border-radius: 20px;
}
.profile{
    background: black;
    height: 32px;
    width: 32px;
}
.tudin{
    display: flex;
    justify-content: space-between;
}
.profile{
    background-image: url(Imagens/R.png);
    background-size: cover;
    border-radius: 25px;
    border: 2px solid gray;
    cursor: pointer    ;
    
}
body{
    margin-top: 4px;
}