body {
    background-color: black;
    font: 23pt Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 125px;
    
}
header{
    color: white;
    text-align: center;
}

section{
    background: rgb(105, 105, 105);
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(148, 148, 148);
    
}

footer{
    color: #ffffff1f;
    text-align: center;
    font-style: italic;
}

.logo{
    width: 400px;
    height: 100px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.insercoes{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.resposta{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.txt1{
    font: normal 12pt arial;
    margin-block-start: 2px;
    margin-block-end: 2px;
    margin-top: 10px;
    width: 255px;

}


.digitar{
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    cursor: pointer;
    width: 254px;
    height: 20px;
    font-size: 12pt;
}

.Botão{
    background-color: rgb(156, 156, 156);
    border-radius: 10px;
    border-color: rgb(143, 143, 143);
    cursor: pointer;
    height: 28px;
    width: 56px;
    font-size: 11pt;
    display: none;
}
*{
    cursor: grab;
}

.erro{
    font: normal 12pt Arial;
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: center;
    padding: 4px;
    padding-top: 8px;
}
